<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.linkcube.app"
    android:versionCode="2"
    android:versionName="2.1.0729" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
   <!-- 获取mac地址作为用户的备用唯一标识 -->

    <application
        android:name="me.linkcube.app.LinkcubeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled" >

        <!-- Main -->
        <activity
            android:name="me.linkcube.app.ui.welcome.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.linkcube.app.ui.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
        </activity>
        <!-- Bluetooth -->
        <activity
            android:name="me.linkcube.app.ui.bluetooth.BluetoothSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.bluetooth.BluetoothHelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Chat -->
        <activity
            android:name="me.linkcube.app.ui.chat.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- Setting -->
        <activity
            android:name="me.linkcube.app.ui.setting.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.setting.AboutUsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.setting.TutorialActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.setting.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- User -->
        <activity
            android:name="me.linkcube.app.ui.user.UserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.UpdateUserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.InitUserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.FindPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.ChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.user.UserAgreementActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Friend -->
        <activity
            android:name="me.linkcube.app.ui.friend.FriendAddedActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.friend.FriendListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.friend.FriendInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.friend.StrangerInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="me.linkcube.app.ui.friend.SearchFriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Welcome -->
        <activity
            android:name="me.linkcube.app.ui.welcome.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Sherlock.NoActionBar" >
        </activity>

        <!-- Receiver -->
        <receiver android:name="me.linkcube.app.ui.main.multi.MultiPlayerFragment$AddFriendReceiver" >
            <intent-filter>
                <action android:name="com.linkcube.addfriend" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.linkcube.app.ui.friend.FriendListActivity$UpdateFriendListReceiver" >
            <intent-filter>
                <action android:name="com.linkcube.updatefriendlist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="me.linkcube.app.sync.core.MsgNotificationReceiver" >
            <intent-filter>
                <action android:name="com.linkcube.message" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <!-- Service -->
        <service android:name="me.linkcube.app.service.ToyService" >
            <intent-filter>
                <action android:name="me.linkcube.toy.ToyService" >
                </action>
            </intent-filter>
        </service>
        <!-- UMENG -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="534e65c656240b8f22003e10" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="official" />

        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@style/Theme.Sherlock.NoActionBar" />
    </application>

</manifest>